/* Header Bar */
.header-bar {
  background-color: #232323;
  padding: 10px 0;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 20px;
}


/* Main Heading */
.h1-main {
  color: #ffffff;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40, end);
  margin: 0 auto; /* Center align the text */
}

/* Typing Animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.subtitle {
  color: #cccccc;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

/* Subheading */
.p-sub {
  color: #ffffff;
  font-size: 20px;
  font-family: "Crimson Text", sans-serif;
  text-align: center;
  margin-top: 10px;
  cursor: default;
}

/* Section Headings */
.h2-section {
  color: #ffffff;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  cursor: default;
}
.h3-section {
  color: #cccccc;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: default;
}

/* List Items */
.li-item {
  color: #ffffff;
  font-size: 20px;
  font-family: "Crimson Text", sans-serif;
  cursor: default;
}

/* Search Button */
#search-button {
  background-color: #ffa916;
  color: #000000;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  font-family: "Crimson Text", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-button:hover {
  background-color: #e58f00;
}

/* Search Results */
#search-results p {
  color: #ffffff;
  font-size: 16px;
  cursor: default;
}

/* Friend Input */
#friend_input {
  width: 500px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: "Crimson Text", sans-serif;
  font-size: 16px;
  cursor: text;
}

/* Emotion Star Plot Title */
#emotion-star-plot-title {
  color: #ffffff;
  font-size: 12px;
  font-family: "Crimson Text", monospace;
  cursor: default;
}


/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Left Section Container */
.left-section-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4); /* Transparent background */
  border-radius: 10px;
}

/* Right Section Container */
.right-section-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4); /* Transparent background */
  border-radius: 10px;
}

