/* Header Bar */
.header-bar {
  background-color: #232323;
  padding: 10px 0;
  border-radius: 0;
}

/* Main Heading */
.h1-main {
  color: #ffffff; /* Blue color */
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(40, end);
  margin: 0 auto; /* Center align the text */
}

/* Subtitle */
.subtitle {
  color: #666666; /* Darker gray color */
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.dcc-graph-container {
  margin-bottom: 20px;
}

/* Subheading */
.p-sub {
  color: #1e90ff; /* Blue color */
  font-size: 20px;
  font-family: "Crimson Text", sans-serif;
  text-align: center;
  margin-top: 10px;
  cursor: default;
}

/* Section Headings */
.h2-section {
  color: #232323; /* Dark gray color */
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  cursor: default;
}

.h3-section {
  color: #666666; /* Darker gray color */
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  cursor: default;
}

/* List Items */
.li-item {
  color: #232323; /* Dark gray color */
  font-size: 20px;
  cursor: default;
}

/* Search Button */
#search-button {
  background-color: #1e90ff; /* Blue color */
  color: #ffffff; /* White text color */
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  font-family: "Crimson Text", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-button:hover {
  background-color: #0000a0; /* Darker blue color on hover */
}

/* Search Results */
#search-results p {
  color: #232323;
  font-size: 16px;
  cursor: default;
}

/* Friend Input */
#friend_input {
  width: 500px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: text;
  color: #232323;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

#friend_input:focus {
  background-color: rgba(255, 255, 255, 0.8);
  color: #232323;
}

/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0;
}

/* Left Section Container */
.left-section-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4); /* Transparent background */
  border-radius: 0px;
}

/* Right Section Container */
.right-section-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4); /* Transparent background */
  border-radius: 0px;
}

.star-plot-container {
  display: grid;
  grid-template-columns: 1fr 1fr 0;
}
